body{
    background-image: url(https://wallpaperaccess.com/full/109538.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
}

nav{
    height:100%;
    color:white;
    position:absolute;
    
    display:inline-flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  main{
   font-size: 150%;
   color: gold;
   position: relative;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   
  }
  a{
      padding: 0.8em;
  }
  footer{
      color:gray;
      padding:1%;
      position:relative;
      display: block;
      justify-content:space-around;
      align-items: flex-end;
  }
  span{
      display: flex;
      justify-content: flex-end;
      color: gray;
  }