html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-image: url(https://images.unsplash.com/photo-1539009139598-75df7c89734d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1929&q=80);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin: 0;
}

a {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
}

a:hover {
    background: rgba(0, 0, 0, 0.3);
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
}

.flex-nav ul {
    border: 1px solid black;
    border-top: 1px solid transparent;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.flex-nav li {
    flex: 3;
}



main {
    font-size: 150%;
    background: linear-gradient(90deg, rgba(0, 9, 242, 1) 0%, rgba(116, 18, 144, 1) 14%, rgba(253, 29, 29, 1) 28%, rgba(252, 210, 69, 1) 42%, rgba(73, 252, 69, 1) 57%, rgba(69, 248, 252, 1) 72%, rgba(0, 9, 242, 1) 100%);
    animation: rainbow 100s linear infinite forwards;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    position: relative;
    margin-left: 35vw;
    margin-top: 30vh;
    display:inline-flex;
}


@keyframes rainbow {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 600vw;
    }
}



footer {
    color: gray;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 0vw;
    margin-top: 49vh;
}

@media all and (max-width:1000px) {

    .flex-nav ul {
        flex-wrap: wrap;
    }

    .flex-nav li {
        flex: 1 1 50%;
    }

}

@media all and (max-width:500px) {
    .flex-nav li {
        flex-basis: 100%;
    }
}

@media screen and (max-width:900px){
    main{
        margin-left: 20vw;
    }
}

@media screen and(min-width:300px) and (max-width:700){
    main{
        font-size: 50%;
        margin-left:0vw;
    }
}