html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-image: url("background.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin:0;

}

p{
    margin-left: 3vw;
    font-size: 200%;
    color: #25f54f;
}

.show{
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;
    margin-left: 2vw;
    margin-top: 4vh;
    font-size: 25px;
}

.show:hover{
    background-color: white;
    border:1px solid #4CAF50;
    color: #4CAF50;
	transition: all 200ms ease;
}

input {
    background-color: rgb(23, 134, 9);
    color: white;
    border: none;
    font-size: 20px;
}