body {
    background-image: url("../background.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    position: relative;
    height: auto;
    padding: 5px;
    font-family: sans-serif;    
}

header {
    color: orange;
    padding: 5px;
    display: flex;
    justify-content: center;
}

main {
    height: auto;

}

div {
    padding: 1em;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li {
    padding: 0.2em;

}

h5 {
    border-right: 1px solid yellow;
    display: flex;
    justify-content: center;
}

h3 {
    display: flex;
    border-bottom: 3px solid orangered;
    margin-left: 5em;
}

img {
    padding: 0.5em;
    border-radius: 25%;
    width: 150px;
    height: 150px;
    
}

.bnc {
    padding: 0.5em;
    border-radius: 10%;
    width: 200px;
    height: 150px;
}

.gallery-upload {
    position: fixed;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 0;
    margin: 0;    
    width: 99vw;
}

.gallery-upload a{
    display:block;
}

.gallery-upload p {
    text-align: center;
    
    display:inline;
}

.gallery-upload input {
    background-color: rgb(23, 134, 9);
    color: white;
    border: none;
}

/* necesar pentru a corecta stylingul oferit de auto sugestii */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(23, 134, 9) inset !important;
    box-shadow: 0 0 0 30px rgb(23, 134, 9) inset !important;
    color: white;
}

/* necesar pentru a corecta stylingul oferit de auto sugestii */
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

.gallery-upload button,
.gallery-upload label,
.gallery-upload a,
.btn-inventory {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 1em;
    transition: 0.4s;
}

.sort-button{
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;
    margin-left: 2vw;
    font-size: 17px;
}


.btn-inventory:hover,
.sort-button:hover{
    background-color: white;
    border:1px solid #4CAF50;
    color: #4CAF50;
	transition: all 200ms ease;
}




/* .wrapword {
    padding: 0.5em;
    white-space: -moz-pre-wrap !important;  
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;    
    white-space: pre-wrap;      
    word-wrap: break-word;      
    white-space: -webkit-pre-wrap; 
    word-break: break-all;
    white-space: normal;
} */


::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.sortare{
    position: fixed;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.8);
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 99vw;
    /* width: 10vw; */
    /* height: 9vh; */
    
}

header{
    display:flex;
    justify-content: space-between;
}

.go-home {
    text-decoration: none;
    font-size: 40px;
    color: greenyellow;
}

.go-home:hover {
    color: rgba(0, 200, 0, 0.8);
}

.curcubeu{
    background: linear-gradient(90deg, rgba(0, 9, 242, 1) 0%, rgba(116, 18, 144, 1) 14%, rgba(253, 29, 29, 1) 28%, rgba(252, 210, 69, 1) 42%, rgba(73, 252, 69, 1) 57%, rgba(69, 248, 252, 1) 72%, rgba(0, 9, 242, 1) 100%);
    animation: rainbow 100s linear infinite forwards;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

form label{
    font-size:120%;
}

@keyframes rainbow {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 600vw;
    }
}

@media all and (max-width:950px){

    .go-home{
        font-size: 25px;
    }
}


@media all and (max-width:600px){

    .sortare{
        left:0;
    }
}

@media all and (max-width:555px){
    form {
        margin-left: 20px;
    }

    .galerie{
        margin-top: 15vh;
        
    }

    .JOS{
        margin-top: 20vh;
        display:inline-block;
        padding-top: 0;
    }
}